.index__contents {
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 2rem;
}

.index__user {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.user__name {
  color: var(--THEME-COLOR-LIGHT);
}

.index__contents > h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.index__input__field {
  width: 40rem;
  padding: 0.75rem;
  outline-width: 0;
  border: none;
  color: var(--BODY-BG-COLOR);
}

.index__output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.index__output__field {
  color: var(--THEME-COLOR-LIGHT);
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: rgba(47, 79, 79, 0.2);
  margin-top: 1.5rem;
  border-radius: 5rem;
}
