.login__page {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 1;
}

.login__content {
  z-index: 5;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.login__heading {
  margin-top: 1rem;
  color: var(--COLOR-LIGHT);
  letter-spacing: 1px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.login__form > input {
  color: var(--COLOR-LIGHT);
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 0.2rem;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  width: 20rem;
  text-align: left;
}

.login__btn {
  width: 20rem;
  padding: 0.5rem 1rem;
  background-color: var(--THEME-COLOR-LIGHT);
  color: var(--COLOR-LIGHT);
  outline: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.2rem;
  letter-spacing: 2px;
}

.login__btn:focus,
.login__btn:hover {
  background-color: var(--COLOR-LIGHT);
  color: var(--COLOR-DARK);
}

.login__content > p {
  margin-bottom: 1rem;
}

.login__link__signup {
  cursor: pointer;
  color: var(--THEME-COLOR-LIGHT);
}

.login__link__signup:focus,
.login__link__signup:hover {
  text-decoration: underline;
  color: var(--COLOR-LIGHT);
}
