.urls__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem 0rem;
}

.urls {
  color: var(--COLOR-LIGHT);
}

.urls:focus,
.urls:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--COLOR-DARK);
}

.urls__c__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.action__del {
  cursor: pointer;
  font-size: 2rem;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  color: var(--ERROR-COLOR);
}

.action__del:focus,
.action__del:hover {
  transform: scale(1.5);
  transition: all 0.5s;
  color: burlywood;
}

.action__copy {
  cursor: pointer;
  font-size: 2rem;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  color: var(--COLOR-LIGHT);
}

.action__copy:focus,
.action__copy:hover {
  transform: scale(1.4);
  transition: all 0.5s;
  color: var(--COLOR-DARK);
}
