.urls__page {
  margin: 2rem;
}

.urls__page__msg {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5rem;
  margin-top: 5rem;
}

.urls__page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 2rem;
  border: 1px;
  border-style: solid;
  border-color: gray;
}

.urls__page__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-decoration: underline;
}
